body {
  text-align: center;
  background-color: #E4F9F5;
  font-family:  'Open Sans', sans-serif, verdana;
  font-size: 120%;
}
h1 {
  color: #66BFBF;
  left: 10px;
  font-size: 3.2rem;
  line-height: 2;
  padding: 15px;
  position: relative;
  margin: 50px auto 0 auto;}
.head {
    font-family: 'Anonymous Pro';
  }
h2 {
  color: #66BFBF;
  font-size: 1.82rem;
  position: relative;
  font-weight: normal;
}
h3 {
  color: #11999E;
}


p {
  font-family: 'Open Sans';
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.about-me {
  position:relative;
  margin: 0 auto 0 auto;
  width: 500px;
}
.middle-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 25px;
}
.mountain {
  display: inline;
  position: relative;
}
.top-cloud {
  position: absolute;
  /* top: 35%; */
  right: 30%;
  margin: -20px auto 0 auto;
}
.bottom-cloud {
  position: absolute;
  left: 30%;
  /* display: inline; */
}
.profile-pic {
  width: 200px;
  margin: 0 auto 0 auto;
}
.skills {
  width: 400px;
}
