body {
  text-align: center;
  background-color: #E4F9F5;
  font-family:  'Anonymous pro', verdana, arial, sans-serif;
  font-size: 100%;
}
h1 {
  left: 10px;
  font-size: 3.2rem;
  padding: 15px;
  position: relative;
  margin-top: 50px;}
h2 {
  font-size: 1.82rem;
  position: relative;
  /* font-family: 'Anonymous Pro'; */
}
h3 {
  /* font-family: 'Anonymous Pro'; */
}
.about-me {
  position:relative;
  margin: 0 auto 0 auto;
  width: 500px;
}
.middle-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 25px;
}
.mountain {
  display: inline;
  position: relative;
}
.top-cloud {
  position: absolute;
  /* top: 35%; */
  right: 30%;
  margin: -20px auto 0 auto;
}
.bottom-cloud {
  position: absolute;
  left: 30%;
  /* display: inline; */
}
.profile-pic {
  width: 200px;
  margin: 0 auto 0 auto;
}
.skills {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
