body {
  text-align: center;
  background-color: #E4F9F5;
  font-family: 'Merriweather', verdana, arial, sans-serif;
}
.name {
  left: 10px;
  font-size: 280%;
  padding: 15px;
  /* margin: 0 auto 0 auto; */
  position: relative;
  font-family: 'Anonymous Pro';
}
.subname {
  font-size: 30px;
  /* margin: 0 auto 0 auto; */
  /* margin-bottom: 0; */
  position: relative;
}
.about-me {
  position:relative;
  margin: 0 auto 0 auto;
  width: 500px;
}
.middle-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 25px;
}

.mountain {
  display: inline;
  position: relative;
}
.top-cloud {
  position: absolute;
  /* top: 35%; */
  right: 30%;
  margin: -20px auto 0 auto;
}
.bottom-cloud {
  position: absolute;
  left: 30%;
  /* display: inline; */
}
.profile-pic {
  width: 200px;
  margin: 0 auto 0 auto;
}
.skills {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
